init_volume = 30
max_iters = 150
max_valueless_iters = 100
quality_eps = 0.0000000001
#very_high_accuracy
#enough_func_value = 0.23031838
enough_func_value = 0.2303187
pres_high = 5
pres_low = 5
cross_size = 60
mutation_size = 60
selection_method = truncation
cross_method = double
mutation_method = swap
test_mode = yes
screen_flag = yes
